$container-bg: #ecf1f8;
$container-bg--focused: #fff;
$border-color--default: transparent;
$border-color--focused: #3b73b3;
$value-color: #222;
$options-bg-color: #ecf1f8;
$options-border-color: transparent;
$options-space: 5px;
$option-bg--hover: #cedcec;
$option-color: #909090;
$tab-bg: #cedcec;
$tag-bg--focused: #ecf1f8;
$cross-color: #909090;